*.css
assets/
backup/
bin/
cache/
images/
index.php
logs/
node_modules/
robots.txt
system/
tmp/
user/accounts/
user/pages/
user/data/
user/config/security.yaml
user/test.kinderhaus-langenau.de/config/security.yaml
user/plugins/*
!user/plugins/kinderhaus/
!user/themes/kinderhaus/images
vendor/
webserver-configs/
CHANGELOG.md
CONTRIBUTING.md
README.md
LICENSE.txt
CODE_OF_CONDUCT.md
