.content__wrapper {
  @include outer-container(90%);
  margin: 85px auto;

  &.margin-top__large {
    margin-top: 145px;
  }

  @include media($desktop-sm) {
    @include outer-container($max-width);
  }
}

.content {
  clear: both;

  @include media($tablet-sm) {
    @include span-columns(8);
  }

  h1, h2, h3, h4, h5, h6 {
    font-family: "Overlock";
    margin-top: $spacing-extra-large;

    &:first-child {
      margin-top: $spacing-medium;
    }
  }

  ul {
    margin: $spacing-medium 0;
    padding-left: 23px;

    & > li::before {
      content: "";
      margin-left: -28px;
      margin-right: 5px;
      display: inline-block;
      background: url("../images/oese.png") no-repeat bottom/14px;
      width: 23px;
      height: 23px;
    }
  }

  li {
    & + li {
      margin-top: $spacing-small;
    }
  }
}

.row {
  & + & {
    margin-top: $spacing-extra-large;
  }
}

.imagegroup {
  @include outer-container($max-width);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: $spacing-extra-large 0;
}

.polaroid {
  display: block;
  padding: $spacing-medium;
  width: 100%;
  transform: rotate(var(--polaroid-rotation));

  @include media($phablet-sm) {
    max-width: 50%;
  }

  @include media($desktop-sm) {
    max-width: 30%;
  }

  .imagegroup > & {
    display: inline-block;
    margin-right: $spacing-medium;
    margin-bottom: $spacing-medium;
    margin-left: 0;
  }
}

.polaroid__image {
  width: 100%;
  height: auto;
}

.align-center {
  margin: $spacing-medium auto;
}

.align-left {
  margin-right: $spacing-medium;
  margin-bottom: $spacing-medium;
}

.align-right {
  @include media($phablet-sm) {
    margin-left: 50%;
  }

  @include media($desktop-sm) {
    margin-left: 70%;
  }
}

.hideable-text {
  // Text kann so von Screenreadern gelesen werden
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

.termin-info {
  display: block;

  & > i {
    margin-right: $spacing-small;
  }
}

.termin-info__more {
  text-align: center;
  margin-top: $spacing-medium;
}

.read-more {
  position: relative;
  margin-top: -#{$spacing-small};
  margin-bottom: $spacing-extra-large;

  &::before {
    content: "";
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    top: -150px;
    height: 150px;
  }

  &:hover {
    .read-more__arrow {
      background: url('/user/themes/kinderhaus/images/read_more_over.png') no-repeat center;
    }
  }
}

.read-more__arrow {
  display: inline-block;
  width: 15px;
  height: 15px;
  background: url('/user/themes/kinderhaus/images/read_more_normal.png') no-repeat center;
}
