.content__wrapper {
  @include outer-container($content-max-width);
  margin: 145px auto;
}

.content {
  @include span-columns(8);
  clear: both;

  @include media($to-tablet) {
    @include span-columns(1 of 1);
  }

  & > h1 {
    margin-top: $spacing-medium;
  }

  ul {
    padding-left: 23px;
  }

  li {
    & + li {
      margin-top: $spacing-small;
    }

    &::before {
      content: "";
      margin-left: -28px;
      margin-right: 5px;
      display: inline-block;
      background: url("../images/oese.png") no-repeat bottom/14px;
      width: 23px;
      height: 23px;
    }
  }
}

.modular-row {
  & + & {
    margin-top: $spacing-extra-large;
  }
}

.modular-bildgruppe {
  @include outer-container($content-max-width);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.polaroid {
  padding: $spacing-medium;
  max-width: 33%;
}

.polaroid__image {
  width: 100%;
  height: auto;
}

.align__center {
  margin: $spacing-medium auto;
}

.align__left {
  float: left;
  margin-right: $spacing-medium;
  margin-bottom: $spacing-medium;
}

.align__right {
  float: right;
  margin-left: $spacing-medium;
  margin-bottom: $spacing-medium;
}
