.footer {
  height: 100px;
  font-size: $font-size-nav-bottom;
}

.footer__wrapper {
  @include outer-container(90%);
  padding-top: $spacing-medium-large;

  @include media($desktop-sm) {
    @include outer-container($max-width);
  }
}

.footer-navigation {
  li {
    display: inline-block;

    a {
      margin-right: $spacing-large;

      &:last-child {
        margin-right: 0;
      }
    }
  }
}
