.footer {
  padding: $spacing-medium-large 0;

  nav + nav {
    padding-top: 0;
  }
}

.footer__wrapper, .footer > .site-navigation {
  @include outer-container(90%);

  @include media($desktop-sm) {
    @include outer-container($max-width);
  }
}

.footer-navigation {
  li {
    display: inline-block;

    & + li {
      margin-left: $spacing-small;
    }

    a {
      margin-right: $spacing-large;

      &:last-child {
        margin-right: 0;
      }
    }
  }
}

.footer > .site-navigation {
  display: block;
  padding: 0;
  height: auto;

  li + li {
    margin-left: $spacing-small;
  }

  @include media($tablet-lg) {
    display: none;
  }
}
