.sidebar {
  @include span-columns(4);

  @include media($to-tablet-sm) {
    display: none;
  }

  & > section + section {
    margin-top: $spacing-large;
    padding-top: $spacing-large;
  }
}

.sidebar__post-it {
  position: relative;

  & > div {
    position: absolute;
    top: 15%;
    left: 7%;
  }

  span {
    display: block;
    margin: 23px 0;

    &:first-child {
      margin-top: 0;
    }
  }

  button {
    position: relative;
    bottom: -10%;
    height: 60px;
    width: 191px;
  }
}

.sidebar__contact {
  & > h2 {
    margin: 0;
  }
}

.sidebar__oeffnungszeiten {
  & > h2 {
    margin-top: $spacing-medium;
    margin-bottom: 0;
  }
}
