.sidebar {
  display: none;

  @include media($tablet-sm) {
    @include span-columns(4);
  }

  & > section + section {
    margin-top: $spacing-large;
    padding-top: $spacing-large;
  }
}

.sidebar__post-it {
  position: relative;

  & > img {
    max-width: 100%;
    height: auto;
  }

  & > div {
    position: absolute;
    top: 15%;
    left: 7%;
    max-width: 100%;
    height: 100%;
  }

  span {
    display: block;

    & + span {
      margin-top: 2.5vw;
    }
  }

  button {
    position: absolute;
    bottom: 20%;
    padding: 2vw;

    @include media($desktop-sm) {
      padding: 1.2rem;
    }
  }
}

.sidebar__contact {
  & > h2 {
    margin: 0;
  }
}

.sidebar__oeffnungszeiten {
  & > h2 {
    margin-top: $spacing-medium;
    margin-bottom: 0;
  }
}
