{% set theme_config = attribute(config.themes, config.system.pages.theme) %}

<!DOCTYPE html>
<html lang="{{ grav.language.getActive ?: theme_config.default_lang }}">
  <head>
    {% block head %}
      {% include 'partials/head.html.twig' %}
      {% include 'partials/metadata.html.twig' %}
    {% endblock head %}
  </head>

  <body>
    {% block header %}
      {% include 'partials/header.html.twig' %}
    {% endblock header %}

    <div class="content__wrapper">
      <main class="content{% if page.header.fold_content %} content--fold{% endif %}">
        {% block content %}
          {{ page.content }}
        {% endblock content %}
      </main>

      <aside class="sidebar">
        {% block sidebar %}
          {% if page.header.sidebar == 'none' %}
            {% set sidebar = '' %}
          {% else %}
            {% set sidebar = page.header.sidebar %}
          {% endif %}


          {% if sidebar is not empty %}
            {% for partial in sidebar|split(',') %}
              {% include "partials/sidebar/" ~ trim(partial) ~ ".html.twig" %}
            {% endfor %}
          {% endif %}
        {% endblock sidebar %}
      </aside>
    </div>

    {% block footer %}
      {% include 'partials/footer.html.twig' %}
    {% endblock footer %}

    {% block extra_js %}
      {% do assets.addJs('theme://js/kinderhaus.js', 100) %}

      {% if config.system.debugger.disabled %}
        {% do assets.addJs('//code.jquery.com/jquery-2.1.3.min.js',110) %}
      {% endif %}

      {% if config.system.debugger.enabled %}
        <script src="http://localhost:35729/livereload.js?snipver=1"></script>
      {% endif %}
      {{ assets.js() }}
    {% endblock extra_js %}
  </body>
</html>
