<footer class="footer">
  {% include 'partials/site-navigation.html.twig' %}

  <nav class="footer__wrapper navigation footer-navigation">
    <ul>
      <li>
        <a href="/impressum">Impressum</a>
      </li>
    </ul>
  </nav>
</footer>
