<div class="container menu-container">
  <nav class="navigation navigation__top">
    <a href="/">Startseite</a>
    <a href="/jobs">Jobs</a>
    <a href="/sponsoren">Sponsoren</a>
    <a href="/login">Login</a>
  </nav>
</div>

  <img alt="Vereinslogo" src="{{ url('theme://images/logo.png')}}"/>
</div>

<div class="red-line">
</div>

<div class="container image-container">
</div>
