<header class="header">
  {% include 'partials/site-navigation.html.twig' %}

  <div class="logo__wrapper">
    <img class="logo__image" alt="Vereinslogo" src="{{ url('theme://images/logo.png')}}"/>
  </div>

  <div class="red-line"></div>

  {% include 'partials/header-backdrop.html.twig' %}

  <nav class="navigation page-navigation">
    {% include 'partials/page-navigation.html.twig' %}
  </nav>

  <div class="dotted-border"></div>
</header>
