<div class="backdrop">
  <div class="backdrop__wrapper">
    <img class="backdrop__brushstroke backdrop__brushstroke-left" src="{{ url('theme://images/header_pinselstrich_links.png') }}"/>
    <img class="backdrop__image" src="{{ url('image://header.jpg') }}" width="1470" height="355" />
    <img class="backdrop__brushstroke backdrop__brushstroke-right" src="{{ url('theme://images/header_pinselstrich_rechts.png') }}"/>
  </div>
</div>
