<header class="header">
  <nav class="navigation site-navigation">
    <ul class="site-navigation__list">
      <li class="site-navigation__list-element">
        <a href="/">Startseite</a>
      </li>
      <li class="site-navigation__list-element">
        <a href="/jobs">Jobs</a>
      </li>
      <li class="site-navigation__list-element">
        <a href="/sponsoren">Sponsoren</a>
      </li>
      <li class="site-navigation__list-element">
        <a href="/impressum">Impressum</a>
      </li>
    </ul>
  </nav>

  <div class="logo__wrapper">
    <img class="logo__image" alt="Vereinslogo" src="{{ url('theme://images/logo.png')}}"/>
  </div>

  <div class="red-line"></div>

  <div class="backdrop">
    <div class="backdrop__wrapper">
      <img class="backdrop__brushstroke backdrop__brushstroke-left" src="{{ url('theme://images/header_pinselstrich_links.png') }}"/>
      <img class="backdrop__image" src="{{ url('image://header.jpg') }}" width="1470" height="355" />
      <img class="backdrop__brushstroke backdrop__brushstroke-right" src="{{ url('theme://images/header_pinselstrich_rechts.png') }}"/>
    </div>
  </div>

  <nav class="navigation page-navigation">
    {% include 'partials/navigation.html.twig' %}
  </nav>

  <div class="dotted-border"></div>
</header>
