<div class="container menu-container">
  <nav class="navigation navigation--top">
    <a href="/">Startseite</a>
    <a href="/jobs">Jobs</a>
    <a href="/sponsoren">Sponsoren</a>
  </nav>
</div>

<div class="wrapper logo">
  <img alt="Vereinslogo" src="{{ url('theme://images/logo.png')}}"/>
</div>

<div class="red-line"></div>

<div class="container image-container">
  <img src="{{ url('theme://images/header_pinselstrich_links.png') }}"/>
  <img class="backdrop" src="{{ url('image://header.jpg') }}"/>
  <img src="{{ url('theme://images/header_pinselstrich_rechts.png') }}"/>
</div>

<nav class="wrapper container navigation navigation--main">
  {% include 'partials/navigation.html.twig' %}
</nav>
