<section class="mobile-menu">
  <input id="mobile-menu__icon" type="checkbox"/>
  <label for="mobile-menu__icon"></label>

  <div class="mobile-menu__container">
    {% include 'partials/page-navigation-mobile.html.twig' %}
  </div>
</section>
