<nav class="navigation site-navigation">
  <ul class="site-navigation__list">
    <li class="site-navigation__list-element">
      <a href="/">Startseite</a>
    </li>
    <li class="site-navigation__list-element">
      <a href="/jobs">Jobs</a>
    </li>
    <li class="site-navigation__list-element">
      <a href="/sponsoren">Sponsoren</a>
    </li>
    <li class="site-navigation__list-element">
      <a href="/impressum">Impressum</a>
    </li>
  </ul>
</nav>
