.header {
  background-image: linear-gradient(to right, #F3E0AB, #EECFA4);
}

.red-line {
  background-color: $color-header-red-line;
}

.navigation {
  font-family: $font-bold;
  font-weight: bold;
}

.site-navigation {
  font-size: $font-size-nav-top;
  text-align: center;

  @include media($tablet-lg) {
    @include packing-paper;
    text-align: right;
    background-image: url('../images/bg_sidenav.png');
    background-size: 100% 100%;
  }
}

#mobile-menu__icon {
  & + label::before {
    content: "\F0C9";
    font-family: FontAwesome;
    font-size: 1.6rem;
    color: $color-header-red-line;
  }
}

.mobile-menu__container {
  background-color: $color-page-navigation-main;

  #mobile-menu__icon:checked ~ & {
    // Rote Linie in Dropdownmenü einbauen
    border-top: 10px solid $color-header-red-line;

    @include media($to-phablet-sm) {
      border-top: 2vw solid $color-header-red-line;
    }
  }
}

.backdrop {
  background-color: $color-backdrop;
}

.page-navigation__list {
  list-style-type: none;
  font-size: $font-size-nav-main;

  @include media($to-tablet-sm) {
    background-color: $color-page-navigation-main;
  }

  @include media($tablet-lg) {
    background-image: url('../images/bg_main.png');
    background-size: 100% 100%;
  }
}

.page-navigation__sub-list {
  @include media($tablet-lg) {
    background-image: url('../images/bg_sub_nav_blau.png');
  }

  .mobile-menu & {
    background-color: $color-blue-light;
  }
}

.page-navigation__list-item {
  color: $color-white;
  list-style-type: none;
  line-height: 50px;
}

.page-navigation__dropdown-icon {
  color: $color-page-navigation-dropdown-icon;
}

.active {
  .page-navigation__main-list > &::before {
    background: url("../images/oese.png") no-repeat bottom/21px;
  }
}

.page-navigation__link {
  font-family: $font-default;
  color: $color-white;

  &:hover {
    color: $color-blue-dark;
  }

  .active > & {
    color: $color-blue-dark;
  }
}

.dotted-border {
  background-color: rgba(0, 0, 0, 0);
  border-bottom: dotted 5px $color-header-dots;
}
