.sidebar {
  & > * + * {
    border-top: dotted 5px $color-header-dots;
  }
}
.sidebar__post-it {
  font-family: $font-links;
  color: #FFF;
  line-height: 1.5;

  & > div {
    font-size: 2vw;

    @include media($desktop-sm) {
      font-size: 1.2rem;
    }
  }

  span:first-child {
    font-size: 3vw;
    line-height: 1;

    @include media($desktop-sm) {
      font-size: 1.9rem;
    }
  }

  button {
    cursor: pointer;
    font-family: $font-post-it-button;
    font-size: 2vw;
    background: url('../images/bg_button_gelb.png') no-repeat;
    background-size: contain;
    border: none;
    color: #FFF;
    text-align: center;
    line-height: 0.5;

    @include media($desktop-sm) {
      font-size: 1.2rem;
    }
  }
}

.sidebar__contact {
  h2 {
    font-size: 27px;
  }
}

.sidebar__oeffnungszeiten {
  li {
    list-style-type: none;
  }
}
