.sidebar {
  & > * + * {
    border-top: dotted 5px $color-header-dots;
  }
}
.sidebar__post-it {
  font-family: $font-links;
  color: #FFF;
  line-height: 1.5;

  span:first-child {
    font-size: 50px;
    line-height: 1;
  }

  button {
    cursor: pointer;
    font-family: $font-post-it-button;
    font-size: 27px;
    background-color: none;
    background: url('../images/bg_button_gelb.png') no-repeat scroll 0 0 transparent;
    border: none;
    color: #FFF;
  }
}

.sidebar__contact {
  h2 {
    font-size: 27px;
  }
}
