<section class="sidebar__become-member">
  <img alt="" src="{{ url('theme://images/postit_blau.png') }}"/>
  <div>
    <span>Mitglied werden</span>
    <span>Formular ausfüllen</br>und an uns schicken</span>
    <form>
      <button formaction="/">zum Formular</button>
    </form>
  </div>
</section>

<section class="sidebar__contact">
  <h2>Kontakt</h2>
  <address>
    <span>Achstraße 8/1</span>
    <span>89129 Langenau</span>
    <a href="mailto:kinderhaus-langenau@gmx.de">kinderhaus-langenau@gmx.de</a>
    <span>Telefon 07345 - 237 806</span>
  </address>
</section>
