<section class="sidebar-element sidebar-element__post-it">
  <img alt="" src="{{ url('theme://images/postit_blau.png') }}"/>
  <div>
    <span>Mitglied werden</span>
    <span>Formular ausfüllen</br>und an uns schicken</span>
    <form>
      <button formaction="/" title="zum Formular">zum Formular</button>
    </form>
  </div>
</section>
