<section class="sidebar__oeffnungszeiten">
  <h2>Öffnungszeiten</h2>
  <span>Montag - Freitag 7:30 - 17:00 Uhr</span>

  <h2>Bringen</h2>
  <ul>
    <li>7:30 - 9:15 Uhr</li>
    <li>14:15 - 14:30 Uhr</li>
    <li>12:00 - 12:30 Uhr</li>
  </ul>

  <h2>Abholen</h2>
  <ul>
    <li>12:00 - 12:30 Uhr (vor dem Essen)</li>
    <li>13:15 - 13:30 Uhr (nach dem Essen)</li>
    <li>14:15 - 14:30 Uhr (nach dem Ruhen)</li>
    <li>16:30 - 17:00 Uhr (am Abend)</li>
  </ul>
</section>
