html, body {
  height: 100%;
}

html {
  font-family: $font-default;
  font-size: $font-size-default;
  color: #000;
}

body {
  background-color: $color-content-bg;
  line-height: $line-height-default;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $font-bold;
  font-weight: bold;
  margin: $spacing-extra-large 0 $spacing-medium 0;
}

h1 {
  font-size: $font-size-h1;
}

b, bold, strong {
  font-family: $font-bold;
  font-weight: bold;
}

a {
  text-decoration: none;
}

p {
  margin: $spacing-medium 0;
}

address {
  margin: $spacing-small 0;

  & > span {
    display: block;

    & > a {
      line-height: 1.4;
    }
  }

  & > a {
    font-family: $font-default !important;
    color: #000 !important;
  }
}
