@import "neat-helpers";

// $visual-grid: true;
$visual-grid-color: red;
$visual-grid-opacity: 0.3;
$max-width: 1100px !global;
$column: 87.5px !global;
$gutter: 50px !global;

$phablet: new-breakpoint(480px);
$tablet: new-breakpoint(768px);
$desktop: new-breakpoint(1005px);

$to-phablet: new-breakpoint(max-width 479px);
$to-tablet: new-breakpoint(max-width 767px);
$to-desktop: new-breakpoint(max-width 1004px);
