@import "neat-helpers";

// $visual-grid: true;
$visual-grid-color: red;
$visual-grid-opacity: 0.3;
$max-width: 1100px !global;
$column: 87.5px !global;
$gutter: 50px !global;

$size-phablet-sm: 480px;
$size-phablet-lg: 650px;
$size-tablet-sm: 768px;
$size-tablet-md: 880px;
$size-tablet-lg: 1024px;
$size-content-max-width: $max-width;
$size-desktop-sm: 1366px;

$phablet-sm: new-breakpoint($size-phablet-sm);
$phablet-lg: new-breakpoint($size-phablet-lg);
$tablet-sm: new-breakpoint($size-tablet-sm);
$tablet-md: new-breakpoint($size-tablet-md);
$tablet-lg: new-breakpoint($size-tablet-lg);
$content-max-width: new-breakpoint($size-content-max-width);
$desktop-sm: new-breakpoint($size-desktop-sm);

$to-tablet-sm: new-breakpoint(max-width $size-tablet-sm - 1);
$to-content-max-width: new-breakpoint(max-width $size-content-max-width - 1);
$to-desktop-sm: new-breakpoint(max-width $size-desktop-sm - 1);
