html, body {
  height: 100%;
}

p {
  margin: 1.3em 0;
}

address {
  margin: 1.3em 0;

  & > span {
    display: block;

    &:last-child {
      margin-top: 1.3em;
    }
  }
}

.container {
  position: relative;
}

.site-header {
  & > .menu-container {
    height: 65px;
  }

  & > .logo {
    height: 0;
    margin: 0 auto;

    & > img {
      position: relative;
      top: -56px;
      left: -38px;
      z-index: 100;
    }
  }

  & > .red-line {
    height: 10px;
  }

  & > .image-container {
    height: 355px;

    & > img {
      z-index: 80;
    }

    & > .backdrop {
      position: absolute;
      left: 0;
      right: 0;
      z-index: 70;
      margin: 0 auto;
    }

    & > img:first-child {
      position: absolute;
      left: 0;
    }

    & > img:last-child {
      position: absolute;
      right: 0;
    }
  }
}

.navigation {
  a {
    margin-right: 1.3rem;

    &:last-child {
      margin-right: 0;
    }
  }
}

.navigation--top {
  position: absolute;
  bottom: 0;
  left: 60.5744%;
  padding: 0.2rem 1.3rem;
}

.wrapper {
  @include outer-container();
  margin: 145px auto;

  &:last-child {
    margin-bottom: 0;
  }
}

.content {
  @include span-columns(8);
}

.sidebar {
  @include span-columns(4);

  section {
    margin: 30px 0;

    &:first-child {
      margin-top: 0;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }
}

.wrapper {
  @include outer-container();
}

.navigation--main {
  height: 0;
  margin-top: 0;

  & > ul {
    padding: 0 1.3rem;
    position: absolute;
    top: -2rem;
    z-index: 90;

    li {
      position: relative;
      height: 50px;
      margin: 0 1.3rem;

      &.selected {
        &:after {
          height: 23px;
          width: 23px;
          position: absolute;
          left: -30px;
          top: 15px;
        }
      }
    }

    &.navigation--main__subnav {
      display: none;
      top: 0.2rem;

      &.selected {
        display: block;
      }
    }
  }

  li {
    vertical-align: top;
    display: inline-block;
  }

  & > li {
    & > ul {
      display: none;
      position: absolute;
    }

    &.selected {
      & > ul {
        display: block;
      }
    }
  }
}

.site-footer {
  height: 75px;
  font-size: $font-size-nav-bottom;

  .wrapper {
    padding-top: 1rem;

    li {
      margin-right: 50px;

      &:last-child {
        margin-right: 0;
      }
    }
  }
}

.navigation--bottom {
  li {
    display: inline-block;

    a {
      margin-right: 1.3rem;

      &:last-child {
        margin-right: 0;
      }
    }
  }
}
