html, body {
  height: 100%;
}

p {
  margin: 1.3rem 0;
}

address {
  margin: $spacing-small 0;

  & > span {
    display: block;
  }
}

.container {
  position: relative;
}

.site-header {
  z-index: 100;
  position: relative;

  @include media($to-desktop) {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
  }

  & > .menu-container {
    height: 65px;
  }

  & > .logo {
    height: 0;
    margin: 0 auto;

    & > img {
      position: relative;
      top: -56px;
      left: -38px;
      z-index: 100;

      @include media($to-desktop) {
        width: 300px;
        left: 50px;
        top: -40px;
      }

      @include media($to-tablet) {
        width: 250px;
        left: 20px;
        top: -33px;
      }

      @include media($to-phablet) {
        width: 200px;
        top: -25px;
      }
    }
  }

  & > .red-line {
    height: 10px;
  }

  & > .image-container {
    height: 20px;

    & > img {
      z-index: 80;
    }

    & > .backdrop {
      position: absolute;
      left: 0;
      right: 0;
      z-index: 70;
      margin: 0 auto;

      @include media($to-desktop) {
        width: 100%;
      }

      @include media($to-tablet) {
        width: 767px;
        overflow: hidden;
      }

      @include media($to-phablet) {
        width: 479px;
      }
    }

    & > img:first-child {
      position: absolute;
      left: 0;
    }

    & > img:last-child {
      position: absolute;
      right: 0;
    }

    @include media($desktop) {
      height: 355px;
    }
  }

  &:after {
    // gepunktete Linie
    @include media($desktop) {
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      z-index: 90;
    }
  }
}

.brushstroke {
  @include media($to-desktop) {
    display: none;
  }
}

.wrapper {
  @include outer-container();
  margin-top: 250px;

  @include media($phablet) {
    margin-top: 350px;
  }

  @include media($desktop) {
    margin: 145px auto;
  }

  @include media($to-desktop) {
    @include outer-container(90%);
  }

  &:last-child {
    margin-bottom: 0;
  }
}

.content {
  @include span-columns(8);

  @include media($to-tablet) {
    @include span-columns(1 of 1);
  }

  ul {
    padding-left: 23px;
  }

  li {
    list-style: none;

    &::before {
      content: "";
      margin-left: -28px;
      margin-right: 5px;
      display: inline-block;
      background: url("../images/oese.png") no-repeat bottom/14px;
      width: 23px;
      height: 23px;
    }
  }
}

.sidebar {
  @include span-columns(4);

  @include media($to-tablet) {
    display: none;
  }

  section {
    margin: $spacing-large 0;

    &:first-child {
      margin-top: 0;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }
}

.become-member {
  position: relative;
  padding-bottom: $spacing-large;

  & > div {
    position: absolute;
    top: 15%;
    left: 7%;
  }

  span {
    display: block;
    margin: 23px 0;

    &:first-child {
      margin-top: 0;
    }
  }

  button {
    cursor: pointer;
    position: relative;
    bottom: -10%;
  }
}

.navigation {
  padding-left: $spacing-large;

  a {
    margin-right: $spacing-large;

    &:last-child {
      margin-right: 0;
    }
  }
}

.navigation--top {
  position: absolute;

  a {
    margin-right: $spacing-small;
  }

  @include media($desktop) {
    left: 60.5744%;
    padding: $spacing-large;
    bottom: 0;
    padding-bottom: $spacing-extra-small;
  }

  @include media($to-desktop) {
    left: 50%;
    top: 9px;
    padding-right: $spacing-medium;
    padding-top: 25px;
    padding-bottom: $spacing-extra-small;
    padding: $spacing-medium-large $spacing-medium $spacing-extra-small 0;
  }

  @include media($to-tablet) {
    left: 0;
    right: 0;
    top: 260px;
    padding: 0;
  }

  @include media($to-phablet) {
    top: 190px;
  }
}

.navigation--main {
  @include media($to-desktop) {
    position: absolute;
    z-index: 110;
    top: -350px;
    left: 0;
    right: -8%;
    width: 100%;
    display: none;

  }

  @include media($to-phablet) {
    top: -250px;
    right: -5%;
  }

  @include media($desktop) {
    height: 0;
    margin-top: 0;
  }

  & > .navigation {
    @include media($desktop) {
      padding: $spacing-medium-large;
      position: absolute;

      li {
        position: relative;
        height: 50px;
        margin: 0 $spacing-large;
        vertical-align: top;
        display: inline-block;

        &.selected {
          &:after {
            height: 23px;
            width: 23px;
            position: absolute;
            left: -30px;
            top: 15px;
          }
        }
      }
    }
  }
}

.navigation--main__top {
  top: -75px;
  z-index: 120;
}

.navigation--main__sub {
  top: -5px;
  width: 100%;
  z-index: 115;

  &.selected {
    display: block;
  }
}

.navigation--bottom {
  li {
    display: inline-block;

    a {
      margin-right: $spacing-large;

      &:last-child {
        margin-right: 0;
      }
    }
  }
}

.navigation-toggle {
  position: absolute;
  top: 15px;
  right: 20px;
  z-index: 120;

  @include media($desktop) {
    display: none;
  }
}

#navigation-main:target {
  display: block;
  z-index: 130;
}

.site-footer {
  height: 100px;
  font-size: $font-size-nav-bottom;

  .wrapper {
    padding-top: $spacing-medium-large;

    li {
      margin-right: 50px;

      &:last-child {
        margin-right: 0;
      }
    }
  }

  .navigation {
    padding-left: 0;
  }
}
