html, body {
  height: 100%;
}

p {
  margin: 1.3em 0;
}

address {
  margin: 1.3em 0;

  & > span {
    display: block;

    &:last-child {
      margin-top: 1.3em;
    }
  }
}

.container {
  position: relative;
}

.site-header {
  & > .menu-container {
    height: 65px;
  }

  & > .logo {
    height: 0;
    margin: 0 auto;

    & > img {
      position: relative;
      top: -56px;
      z-index: 100;
    }
  }

  & > .red-line {
    height: 10px;
  }

  & > .image-container {
    height: 355px;

    & > img {
      z-index: 90;
    }

    & > img:first-child {
      position: absolute;
      left: 0;
    }

    & > img:last-child {
      position: absolute;
      right: 0;
    }
  }
}

.navigation {
  a {
    margin-right: 1.3rem;

    &:last-child {
      margin-right: 0;
    }
  }
}

.navigation__top {
  position: absolute;
  bottom: 0;
  left: 60.5744%;
  padding: 0.2rem 1.3rem;
}

.wrapper {
  @include outer-container();
  margin: 145px auto;

  &:last-child {
    margin-bottom: 0;
  }
}

.content {
  @include span-columns(2);
}

.sidebar {
  @include span-columns(1);

  section {
    margin: 30px 0;

    &:first-child {
      margin-top: 0;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }
}
