@mixin packing-paper() {
  background-color: $color-packing-paper;

  a {
    font-family: $font-overlock;
    color: $color-packing-paper-link;

    &:hover {
      color: $color-packing-paper-link-hover;
    }

    &:active {
      color: $color-packing-paper-link-active;
    }
  }
}

@mixin clearfix {
  &:after {
    content: "";
    clear: both;
    display: block;
    visibility: hidden;
    height: 0px;
  }
}
