address {
  & a {
    font-family: $font-default !important;
    color: #000 !important;
  }
}

.site-header {
  background-image: linear-gradient(to right, #F3E0AB, #EECFA4);
  border-bottom: dotted 5px $color-header-dots;

  & > .red-line {
    background-color: $color-header-red-line;
  }
}

.wrapper {
  a {
    font-family: $font-links;
    color: #0A6792;

    &:hover {
      color: #002346;
    }
  }
}

.navigation {
  font-family: $font-bold;
  font-weight: bold;
}

.navigation__top {
  @include packing-paper;
}

.site-footer {
  @include packing-paper;
  height: 75px;
  font-size: 20px;

  .wrapper {
    padding-top: 1rem;
  }

  a {
    margin-right: 1.3rem;

    &:last-child {
      margin-right: 0;
    }
  }
}
