address {
  & > a {
    font-family: $font-default !important;
    color: #000 !important;
  }
}

.site-header {
  background-image: linear-gradient(to right, #F3E0AB, #EECFA4);
  border-bottom: dotted 5px $color-header-dots;

  & > .red-line {
    background-color: $color-header-red-line;
  }
}

.wrapper {
  a {
    font-family: $font-links;

    &:hover {
    }
  }
}

.navigation {
  font-family: $font-bold;
  font-weight: bold;
}

.navigation--top {
  font-size: $font-size-nav-top;
  @include packing-paper;
}

.navigation--main {
  font-size: $font-size-nav-main;

  & > ul {
    background-color: #FAB837;

    li {
      line-height: 50px;

      &.selected {
        &:after {
          content: "";
          background: url("../images/oese.png");
        }

        a {
          color: $color-blue;
        }
      }
    }

    a {
      color: #FFF;

      &:hover {
        color: $color-blue;
      }

    }

    .selected {
      a {
        color: $color-blue-dark;
      }
    }

    &.navigation--main__subnav {
      background-color: #ACDAF1;

      a {
        color: $color-blue-light;

        &:hover {
          color: $color-blue-dark;
        }

        &:active {
          color: $color-blue-dark;
        }
      }
    }
  }

  li {
    color: #FFF;
    list-style-type: none;

    a {
      font-family: $font-default;
    }
  }
}

.site-footer {
  @include packing-paper;
}

.navigation--bottom {
  @include packing-paper;

  li {
    list-style-type: none;
  }
}
