// fonts
$font-size-default: 23px;
$font-size-h1: 30px;

$line-height-default: 26px;

$font-default: 'Mallanna', sans-serif;
$font-bold: 'Overlock', cursive;
$font-links: 'Gloria Hallelujah', cursive;

// colors
$color-header-red-line: #BB0027;
$color-content-bg: #F9F2E3;
