// fonts
$font-size-default: 20px;
$font-size-nav-top: 1rem;
$font-size-nav-main: 1.35rem;
$font-size-nav-bottom: 1rem;
$font-size-h1: 1.5rem;

$line-height-default: 1.3;

$font-default: 'Nunito', sans-serif;
$font-bold: 'Nunito', cursive;
$font-links: 'Gloria Hallelujah', cursive;
$font-post-it-button: 'Overlock', serif;

// spacings
$spacing-extra-small: 5px;
$spacing-small: 10px;
$spacing-medium: 20px;
$spacing-medium-large: 25px;
$spacing-large: 30px;
$spacing-extra-large: 40px;

// colors
$color-white: #FFF;

$color-header-red-line: #BB0027;
$color-content-bg: #F9F2E3;
$color-backdrop: #CCB495;
$color-header-dots: #8F5948;

$color-page-navigation-main: #FAB837;
$color-page-navigation-dropdown-icon: #8D5D00;

$color-packing-paper: #CEB796;
$color-packing-paper-link: #996633;
$color-packing-paper-link-hover: #663300;
$color-packing-paper-link-active: #663300;

$color-blue-light: #AAD8F0;
$color-blue: #5BADD2;
$color-blue-dark: #08567A;
