// fonts
$font-size-default: 23px;
$font-size-nav-top: 20px;
$font-size-nav-main: 27px;
$font-size-nav-bottom: 20px;
$font-size-h1: 30px;

$line-height-default: 26px;

// $font-default: 'Mallanna', sans-serif;
$font-default: 'Nunito', sans-serif;
$font-bold: 'Overlock', cursive;
$font-links: 'Gloria Hallelujah', cursive;

// colors
$color-header-red-line: #BB0027;
$color-content-bg: #F9F2E3;
$color-header-dots: #8F5948;

$color-packing-paper: #CEB796;
$color-packing-paper-link: #996633;
$color-packing-paper-link-hover: #663300;
$color-packing-paper-link-active: #663300;

$color-blue-light: #5BAED2;
$color-blue: #0A6792;
$color-blue-dark: #0C587B;
